<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <h1>Index</h1>
    <div>   
        <div class="button-container">
            <button type="button" id="getButton">GET</button>
            <input type="text" id="USEGETAPI" placeholder="Enter ID">
            <div id="GETstatusMessage" font-size: 16px;></div> 
        </div>

        <div class="button-container">
            <button type="button" id="postButton">POST</button>
            <input type="text" id="USEPOSTAPI_FName" placeholder="Enter First Name">
            <input type="text" id="USEPOSTAPI_LName" placeholder="Enter Last Name">
            <div id="POSTstatusMessage"></div> 
        </div>

        <div class="button-container">
            <button type="button" id="putButton">PUT</button>
            <input type="text" id="USEPUTAPI_ID" placeholder="Enter Exist ID">
            <input type="text" id="USEPUTAPI_FName" placeholder="Enter New First Name">
            <input type="text" id="USEPUTAPI_LName" placeholder="Enter New Last Name">
            <div id="PUTstatusMessage"></div> 
        </div>
        <div class="button-container">
            <button type="button" id="deleteButton" >DELETE</button>
            <input type="text" id="USEDELETEAPI_ID" placeholder="Enter Exist ID">
            <div id="DELETEstatusMessage"></div> 
        </div>
        
    </div>
    <script src="../scripts/useapi.js" defer></script>
</body>
</html>