<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/style.css" />
    
</head>
    
<body>
    <h1>API</h1>
    <button type="button" class="desktop-button" id="getButton">GET</button>
    <input type="text" id="USEGETAPI" class="desktop-text-Input" placeholder="Enter ID"><br>
    <div class="desktop-container" id="GETstatusMessage" ></div> 
    <button id="milkButton" class="hide-button">Milk Cow</button>
    <button id="addLemon" class="hide-button">Add Lemon</button>
    <script src="../scripts/useapi.js" defer></script>
    
</body>
</html>