.container {
    margin: 0.5% 0; /* Reduce vertical margin */
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    gap: 5px; /* Reduce the vertical space between elements */
    font-size: 16px;
}

.text-Input, .id-Input, button {
    margin: 0; /* Remove additional margins if present */
    padding: 0.5vw; /* Adjust padding if needed */
    font-size: 14px;
}

.text-Input {
    width: 100%; /* Full width for input fields */
}

.id-Input {
    width: 100%; /* Full width for input fields */
}

button {
    height: 30px;
    width: 100%; /* Full width for buttons */
}
