* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    display: grid;
    place-content: mid;
}

.container {
    display: flex;
    gap: 20px; /* Adjust spacing between elements */
    font-size: 16px;

}
.text-Input{
    width: 20%;
    height: 30px;
    padding: 1vw;
    font-size: 14px;
}
.id-Input {
    width: 5%; /* Adjust this value to make the input smaller */
    height: 30px;
    padding: 1vw;  /* Adjust padding for inner spacing */
    font-size: 14px; /* Adjust font size if needed */
}
